# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Logs
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/
